<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button size="block">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="block">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="block">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="block">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="block">12</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>

      <ion-col >
        <ion-row class="center">
          <ion-label>Time 1</ion-label>
        </ion-row>
        <ion-button>+</ion-button>
      </ion-col>

      <ion-col >
        <ion-row class="center">
          <ion-label>Time 2</ion-label>
        </ion-row>
        <ion-button>+</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col >
        <ion-row class="center">
          <ion-label>0</ion-label>
        </ion-row>
        <ion-button>-</ion-button>
      </ion-col>

      <ion-col  >
        <ion-row class="center">
          <ion-label>0</ion-label>
        </ion-row>
        <ion-button>-</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-button size="block"> 
    ZERAR
  </ion-button>

  <ion-title>
   PARTIDAS
  </ion-title>

  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-label>TIME 1:</ion-label>
      </ion-col>

      <ion-col>
        <ion-label>0</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>TIME 2:</ion-label>
      </ion-col>

      <ion-col>
        <ion-label>0</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

 </ion-card>
</ion-content>