<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title >VALENDO: {{valendo}}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="valendo1()" size="block">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  (click)="valendo3()" size="block">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  (click)="valendo6()" size="block">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="valendo9()" size="block">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button  (click)="valendo12()" size="block">12</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>

      <ion-col >
        <ion-row class="center">
          <ion-label>Time 1</ion-label>
        </ion-row>
        <ion-button (click)="somaTimeUm()">+</ion-button>
      </ion-col>

      <ion-col >
        <ion-row class="center">
          <ion-label>Time 2</ion-label>
        </ion-row>
        <ion-button (click)="somaTimeDois()">+</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col >
        <ion-row class="center">
          <ion-label>{{ptime1}}</ion-label>
        </ion-row>
        <ion-button (click)="subTimeUm()">-</ion-button>
      </ion-col>

      <ion-col  >
        <ion-row class="center">
          <ion-label>{{ptime2}}</ion-label>
        </ion-row>
        <ion-button (click)="subTimeDois()">-</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-button (click)="zerar()" size="block">
    ZERAR
  </ion-button>

  <ion-title>
   PARTIDAS
  </ion-title>

  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-label>TIME 1:</ion-label>
      </ion-col>

      <ion-col>
        <ion-label>{{time1}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>TIME 2:</ion-label>
      </ion-col>

      <ion-col>
        <ion-label>{{time2}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

 </ion-card>
</ion-content>
