<ion-header [translucent]="true">
  <ion-toolbar color="laranjinha">
    <ion-title>
      Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title class="titulo">VALENDO: {{valendo}}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="laranjinha" laranjinha (click)="valendo1()" size="block">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="laranjinha" (click)="valendo3()" size="block">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="laranjinha" (click)="valendo6()" size="block">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="laranjinha" (click)="valendo9()" size="block">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="laranjinha" (click)="valendo12()" size="block">12</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-row>
          <ion-label>Time 1</ion-label>
        </ion-row>
        <ion-button color="laranjinha" (click)="somaTimeUm()">+</ion-button>
      </ion-col>

      <ion-col>
        <ion-row>
          <ion-label>Time 2</ion-label>
        </ion-row>
        <ion-button color="laranjinha" (click)="somaTimeDois()">+</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-row>
          <ion-label>{{ptime1}}</ion-label>
        </ion-row>
        <ion-button color="laranjinha" (click)="subTimeUm()">-</ion-button>
      </ion-col>

      <ion-col>
        <ion-row>
          <ion-label>{{ptime2}}</ion-label>
        </ion-row>
        <ion-button color="laranjinha" (click)="subTimeDois()">-</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-button color="laranjinha" (click)="zerar()" size="block">
    ZERAR
  </ion-button>


  
    <ion-title class="titulo">
      PARTIDAS:
    </ion-title>

    <ion-grid >

      <ion-list >
        <ion-item color="medium">
          <ion-badge slot="end">{{time1}}</ion-badge>
          <ion-label>TIME 1:</ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item color="medium">
          <ion-badge slot="end">{{time2}}</ion-badge>
          <ion-label >TIME 2:</ion-label>
        </ion-item>
      </ion-list>

      
    </ion-grid>

  
</ion-content>